{% render 'partials/head.liquid' %}

<section class="cards">

  <div class="card-front">
      <p>{{ person.custom.function }}</p>
      <h1>{{ person.name }}</h1>
  </div>

  <div class="card-back"> 
      <a href="https://www.linkedin.com/in/karima-m-ab63a11b3/">
          <img src="../assets/linkedin.svg" alt="icoon van linkedin">
      </a>

      <p>{{ person.custom.properties }}</p>
      <p>{{ person.custom.hometown }}</p>
      <p>{{ person.custom.email }}</p>
      <h1>{{ person.name }}</h1> 
  </div>

</section>
 
<script src="scripts/jave1.js"></script>

{% render 'partials/foot.liquid' %}
